body{
  margin: 0%;
  padding: 0%;
  background-color: #7BCAB2 ;
}

.slide-top {
	-webkit-animation: slide-top 3s ease-in-out infinite alternate-reverse both;
	        animation: slide-top 3s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
