@import "tailwindcss";


/*Codigo para Fleachas de Swiper*/
.swiper-button-next,
.swiper-button-prev {
  color: white !important;   
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem !important;
  font-weight: bold;
}